#kaltura-simple-uploader .ku-heading {
  font-weight: bold;
}

#kaltura-simple-uploader .ku-margin-single {
  margin: 8px;
}

#kaltura-simple-uploader .ku-grid-container {
  display: grid;
}

#kaltura-simple-uploader .ku-grid-template-2col {
  grid-template-columns: max-content auto;
}

#kaltura-simple-uploader .ku-grid-item {
  padding: 8px;
}

#kaltura-simple-uploader .ku-grid-item-2col-end {
  grid-column: 2;
  justify-self: end;
}

#kaltura-simple-uploader .ku-width-full {
  width: 100%;
}

#kaltura-simple-uploader .ku-message-block {
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
}
